@font-face {
  font-family: 'Figtree';
  src: url(../fonts/Figtree-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 1 999;
}

:root {
  --site-font: 'Figtree';
  --secondary-color: #caebf2;
  --tertiary-color: #ff3b3f;
  --light-neutral-color: #efefef;
  --medium-neutral-color: #666;
  --dark-neutral-color: #4a4a4a;
}

html {
  font-size: 18px;
  font-family: var(--site-font);
}

body {
  background-color: var(--light-neutral-color);
  color: var(--dark-neutral-color);
}

body > * {
  padding: 2rem;
}

.stage-left {
  transform: translateX(-200%);
}

.stage-right {
  transform: translateX(200%);
}

header {
  min-height: 20vh;
  background-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--medium-neutral-color);
  display: flex;
  align-items: center;
  gap: 2rem;
}

header h1 {
  flex: 1 1 0;
  color: var(--medium-neutral-color);
  font-size: 4.5rem;
  font-weight: 900;
  margin: 0;
  background-color: var(--light-neutral-color);
  box-shadow: 0 0 5px inset var(--medium-neutral-color);
  border-radius: 0.2rem;
  padding: 1rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  background-color: var(--light-neutral-color);
  object-fit: cover;
  z-index: 1;
  box-shadow: 0 0 5px var(--medium-neutral-color);
  border-radius: 0.2rem;
  transition: transform 0.5s ease-out 0.25s;
}

.about {
  display: flex;
  align-items: center;
}

.about {
  transition: transform 0.5s ease-out 0.75s;
}
  background-color: white;
  box-shadow: 0 0 5px var(--medium-neutral-color);
  border-radius: 0.2rem;
  padding: 1rem 5rem 1rem 1.5rem;
}

.about-icon {
  z-index: 1;
  width: 8rem;
  margin-left: -5rem;
  transform: rotate(10deg);
  padding: 10px;
  background-color: white;
  border: var(--secondary-color) 3px solid;
  border-radius: 50%;
}

/* To do: wavy background transition? */
