@font-face {
  font-family: 'Figtree';
  src: url(../fonts/Figtree-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 1 999;
}

:root {
  --site-font: 'Figtree';
  --secondary-color: #caebf2;
  --tertiary-color: #ff3b3f;
  --light-neutral-color: #efefef;
  --medium-neutral-color: #666;
  --dark-neutral-color: #4a4a4a;
}

html {
  font-size: 18px;
  font-family: var(--site-font);
}

body {
  background-color: var(--light-neutral-color);
  color: var(--dark-neutral-color);
}

body > * {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: var(--dark-neutral-color);
}

a:hover {
  text-decoration: underline;
}

.label {
  margin: 0;
}

.stage-left {
  transform: translateX(-200%);
}

.stage-right {
  transform: translateX(200%);
}

header {
  min-height: 20vh;
  background-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--medium-neutral-color);
  display: flex;
  gap: 2rem;
}

header h1 {
  flex: 1 1 0;
  color: var(--medium-neutral-color);
  font-size: 4.5rem;
  font-weight: 900;
  margin: 0;
  background-color: var(--light-neutral-color);
  box-shadow: 0 0 5px inset var(--medium-neutral-color);
  border-radius: 0.2rem;
  padding: 1rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headshot, .footer-image {
  background-color: var(--light-neutral-color);
  object-fit: cover;
  box-shadow: 0 0 5px inset var(--medium-neutral-color);
  border-radius: 0.2rem;
  transition: transform 0.5s ease-out 0.25s;
}

.about, .tools, .work {
  display: flex;
  align-items: flex-start;
}

.about {
  transition: transform 0.5s ease-out 0.75s;
}

.about-box, .tools-box, .work-box {
  flex: 1 1 0;
  background-color: white;
  box-shadow: 0 0 5px var(--medium-neutral-color);
  border-radius: 0.2rem;
}

.about-box {
  padding: 1rem 4.5rem 1rem 1.5rem;
}

.about-icon, .tools-icon, .work-icon {
  margin-top: 0.5rem;
  z-index: 1;
  background-color: white;
  border: var(--secondary-color) 3px solid;
  border-radius: 50%;
  padding: 20px;
  display: flex;
}

.about-icon img, .tools-icon img, .work-icon img {
  width: 5rem;
}

.about-icon, .work-icon {
  margin-left: -4rem;
  transform: rotate(10deg);
}

.about-box a {
  color: var(--tertiary-color);
}

.tools {
  padding-top: 0;
  transition: transform 0.5s ease-out 1.25s;
}

.tools-icon {
  margin-right: -4rem;
  transform: rotate(-10deg);
}

.tools-box {
  padding: 1rem 1.5rem;
}

.tools-box > h2, .tools-box > p {
  padding-left: 3rem;
}

.tools-box > p {
  margin-bottom: 0.5rem;
}

.tools-list {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: repeat(4, max-content); 
  justify-content: space-evenly;
  gap: 1rem;
  border-radius: 0.2rem;
  padding: 1rem;
} 

.tool {
  min-width: 5.5rem;
  min-height: 5.5rem;
  width: 10vw;
  height: 10vw;
  background-color: white;
  box-shadow: 0 0 5px var(--medium-neutral-color);
  border-radius: 0.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.tool .icon {
  min-width: 4.5rem;
  width: 8vw;
}

.tool:hover {
  text-decoration: none;
  background-color: var(--light-neutral-color);
}

.work {
  padding-top: 0;
  transition: transform 0.5s ease-out 1.75s;
}

.work-box {
  padding: 1.5rem;
}

.work-projects {
  max-width: min(100%, 76rem);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-auto-rows: 1fr;
  gap: 1.5rem;
  margin: auto;
}

.project {
  background-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--medium-neutral-color);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  max-height: 16rem;
  padding: 1rem 0;
}

.project-screenshot {
  flex: 3 3 0;
  max-height: 60%;
}

.project-screenshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
}

.project-screenshot .calculator-preview {
  object-position: left 0 top -4rem;
}

.project-text {
  flex: 2 2 0;
  background-color: white;
  padding: 0.25rem 1rem;
  overflow: scroll;
}

.project-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.project-heading .icons {
  display: flex;
  gap: 0.75rem;
}

.project-heading .icon {
  width: 1.2rem;
}

.project-heading h3 {
  margin: 0;
}

.project-text p {
  margin: 0.5rem 0 0.25rem;
  font-size: 0.85rem;
}

footer {
  background-color: var(--secondary-color);
  display: flex;
  gap: 2rem;
}

.footer-text-container {
  flex: 1 1 0;
  background-color: var(--light-neutral-color);
  box-shadow: 0 0 5px inset var(--medium-neutral-color);
  border-radius: 0.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text h2 {
  margin: 0.5rem 0 0;
  text-align: center;
}

.footer-text .contact-label {
  font-size: 0.85rem;
}

.footer-text .contact-detail {
  margin: 0.2rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.footer-text .contact-detail .icon {
  width: 1rem;
}

.footer-text .icon-link {
  height: 2rem;
}

.footer-text .external-contacts {
  margin-top: 1rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.footer-text .external-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.footer-text .external-contact .icon {
  width: 2rem;
}

@media (max-width: 800px) {
  .tools-list {
    grid-template-columns: repeat(2, max-content);
  }
}

@media (max-width: 575px) {
  header, footer {
    flex-direction: column-reverse;
  }

  header h1 {
    font-size: 3rem;
  }

  .about-icon {
    margin-top: 0.5rem;
  }

  .about-icon,
  .tools-icon,
  .work-icon {
    padding: 10px;
  }

  .about-icon img,
  .tools-icon img,
  .work-icon img {
    width: 4rem;
  }

  .about-box {
    padding-right: 4rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}
